.banner {
  position: relative;
  height: 500px;
  width: 100%;
}
.banner .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  top: 55px;
}
.banner .container a {
  text-align: center;
  display: block;
}
