.Index .dian {
  font-size: 50px;
  vertical-align: top;
  line-height: 40px;
  padding-right: 3px;
}
.Index .banner {
  position: relative;
  height: 500px;
  width: 100%;
}
.Index .banner .ant-carousel .slick-slide {
  height: 500px;
}
.Index .banner .slick-slide ._banner_bj {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  width: 1920px;
  height: 500px;
}
.Index .banner .ant-select-selection {
  height: 40px;
  border-radius: 0;
}
.Index .banner .ant-select-selection__rendered {
  line-height: 40px;
  text-indent: 15px;
  font-size: 14px;
  color: black;
}
.Index .banner .ant-select-arrow {
  color: #000;
}
.Index .banner .Index_option .ant-select-dropdown-menu-item {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}
.Index .banner .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  top: 55px;
}
.Index .banner .container a {
  margin: 0 auto;
  display: block;
}
.Index .banner .container a:nth-child(1) {
  width: 144px;
  height: 145px;
  margin-bottom: 25px;
}
.Index .banner .container a:nth-child(2) {
  margin-bottom: 60px;
  width: 500px;
  height: 79px;
}
.Index .banner .container form {
  width: 647px;
  height: 40px;
  margin: 0 auto;
}
.Index .banner .container form input[type="text"] {
  width: 308px;
  height: 40px;
  line-height: 40px;
  border: none;
  text-indent: 10px;
  vertical-align: top;
  margin-right: 12px;
}
.Index .banner .container form .search {
  width: 98px;
  height: 40px;
  background: #5a7aea;
  color: #fff;
  border: none;
  vertical-align: top;
  margin-right: 12px;
  cursor: pointer;
  text-indent: -10px;
}
.Index .banner .container form .translate:active,
.Index .banner .container form .search:active {
  background: #6a86e8;
}
.Index .banner .container form .translate {
  text-indent: -5px;
  width: 106px;
  height: 40px;
  background: #5a7aea;
  color: #fff;
  border: none;
  vertical-align: top;
  cursor: pointer;
}
.Index .Index_container .notice {
  height: 50px;
  background: #f6f6f8;
  margin-bottom: 20px;
}
.Index .Index_container .notice .container {
  height: 50px;
}
.Index .Index_container .notice .container .notice_title {
  display: inline-block;
  line-height: 50px;
  color: #3662fd;
  font-size: 14px;
  vertical-align: top;
}
.Index .Index_container .notice .container .more a {
  float: right;
  line-height: 50px;
  color: #3662fd;
  font-size: 14px;
  vertical-align: top;
}
.Index .Index_container .notice .ant-carousel {
  display: inline-block;
  width: 300px;
  height: 50px;
}
.Index .Index_container .notice .ant-carousel .slick-slide {
  text-align: center;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: #000;
}
.Index .Index_container .trends ._trendsContainer {
  width: 778px;
  height: 398px;
  border: 1px solid #e0dfdf;
}
.Index .Index_container .trends ._trendsContainer ._trendsTittle {
  height: 38px;
  width: 100%;
  background: #f5f5f5 url("../../images/index_new_title.png") no-repeat top left;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft {
  margin: 25px;
  height: 310px;
  width: 368px;
  padding: 18px;
  border: 1px solid #e0dfdf;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft .ant-carousel {
  /* 最外围的框大小*/
  display: inline-block;
  width: 332px;
  height: 256px;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft .ant-carousel .slick-slide {
  /* 内容大小和样式*/
  text-align: center;
  width: 332px;
  height: 256px;
  line-height: 50px;
  overflow: hidden;
  color: #000;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft ._menu {
  margin-top: 4px;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft ._menu span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #e0dfdf;
  text-align: center;
  line-height: 14px;
  color: #d2d2d2;
  margin-left: 6px;
  cursor: pointer;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft ._menu span.active {
  border: 1px solid #5a7aea;
  background: #5a7aea;
  color: #fff;
}
