.Index{
  .dian{
    display: inline-block;
    border-radius: 100px;
    width: 6px;
    height: 6px;
    background: #000;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
    opacity: .8;
  }
  .banner{
    position: relative;
    height: 500px;
    width: 100%;
    //==================
    //banner
    .ant-carousel .slick-slide {
      height: 500px;
    }
    .slick-slide ._banner_bj {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0); /* IE 9 */
      -webkit-transform: translate(-50%, 0); /* Safari and Chrome */
      width: 1920px;
      height: 500px;
    }
    //===============
    //===============================
    //select -antd
    .ant-select{
      width: 108px;
      height:40px;
      marginRight:2px;
    }
    .ant-select-selection{
      width: 104px;
      height: 40px;
      border-radius: 0;
    }
    .ant-select-selection__rendered{
      line-height: 40px;
      text-indent: 15px;
      font-size: 14px;
      color: black;
    }
    .ant-select-arrow{
      color: #000;
    }
    .Index_option .ant-select-dropdown-menu-item{
      height: 40px;
      line-height: 40px;
      padding: 0 12px;
    }
    //===============================
    .container{
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      -ms-transform: translate(-50%,0); /* IE 9 */
      -webkit-transform: translate(-50%,0); /* Safari and Chrome */
      top: 55px;
      a{
       margin:0 auto;
        display: block;
      }
      a:nth-child(1){
        width: 144px;
        height: 145px;
        margin-bottom: 25px;
      }
      a:nth-child(2){
        margin-bottom: 60px;
        width: 500px;
        height: 79px;
      }

      form{
        width: 647px;
        height: 40px;
        margin: 0 auto;

        input[type="text"]{
          width: 308px;
          height: 40px;
          line-height: 40px;
          border:none;
          text-indent: 10px;
          vertical-align: top;
          margin-right: 12px;
        }
        .search{
          width: 98px;
          height: 40px;
          background: #5a7aea;
          color: #fff;
          border:none;
          vertical-align: top;
          margin-right: 12px;
          cursor: pointer;
          text-indent: -10px;
        }
        .translate:active,.search:active{
          background: #6a86e8;
        }
        .translate{
          text-indent: -5px;
          width: 106px;
          height: 40px;
          background: #5a7aea;
          color: #fff;
          border:none;
          vertical-align: top;
          cursor: pointer;
        }
      }
    }
  }
  .Index_container {
    //*===============================*/公告css
    .notice {
      height: 50px;
      background: #f6f6f8;
      margin-bottom: 20px;
      .container {
        height: 50px;
        .notice_title {
          display: inline-block;
          line-height: 50px;
          color: #3662fd;
          font-size: 14px;
          vertical-align: top;
        }
        .more {
          a {
            float: right;
            line-height: 50px;
            color: #3662fd;
            font-size: 14px;
            vertical-align: top;
          }

        }
      }
      //=====================================
      //轮博栏
      .ant-carousel {
        display: inline-block;
        width: 300px;
        height: 50px;
        .slick-slide {
          text-align: center;
          height: 50px;
          line-height: 50px;
          overflow: hidden;
          color: #000;
        }

      }
      //=====================================
    }
    .trends {
      ._trendsContainer {
        width: 780px;
        height: 400px;
        border: 1px solid #e0dfdf;
        margin-bottom: 20px;
        ._trendsTittle {
          height: 38px;
          width: 100%;
          background: #f5f5f5 url("../../images/index_new_title.png") no-repeat top left;
        }
        ._trendsLeft {
          margin: 25px;
          height: 310px;
          width: 368px;
          padding: 18px;
          border: 1px solid #e0dfdf;
          //=============================
          //new 轮播
          .ant-carousel { /* 最外围的框大小*/
            display: inline-block;
            width: 332px;
            height: 256px;
            .slick-slide { /* 内容大小和样式*/
              text-align: center;
              width: 332px;
              height: 256px;
              line-height: 50px;
              overflow: hidden;
              color: #000;
            }
          }
          ._menu {
            margin-top: 4px;
            span {
              display: inline-block;
              width: 16px;
              height: 16px;
              border: 1px solid #e0dfdf;
              text-align: center;
              line-height: 14px;
              color: #d2d2d2;
              margin-left: 6px;
              cursor: pointer;
            }
            span.active {
              border: 1px solid #5a7aea;
              background: #5a7aea;
              color: #fff;
            }
          }
        }
        ._trendsRight {
          margin: 25px;
          width: 300px;
          ._RightTitle {
            font-size: 16px;
            line-height: 26px;
            span {
              font-size: 14px;
              background: #5a7aea;
              color: #fff;
              padding: 0 10px;
              display: inline-block;
              height: 26px;
              margin-right: 16px;
            }
          }
          ul {
            margin-top: 25px;
          }
          li {
            line-height: 30px;
            font-size: 14px;
            width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .more {
            display: inline-block;
            width: 70px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background: #5a7aea;
            color: #fff;
            margin-top: 50px;
          }
        }
      }
      ._trendsMenu {
        margin-left: 20px;
        width: 300px;
        height: 400px;
        overflow: hidden;
        li {
          width: 100%;
          height: 100px;
        }
        figure {
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
          img {
            margin-top: 25px;
          }
          figcaption {
            font-size: 14px;
            color: #fff;
            line-height: 40px;
          }
        }
        li:nth-child(1) {
          figure:nth-child(1) {
            background: #b973c4;
          }
          figure:nth-child(2) {
            background: #90ba4d;
          }
        }
        li:nth-child(2) {
          figure:nth-child(1) {
            background: #3aabb5;
          }
          figure:nth-child(2) {
            background: #e27594;
          }
        }
        li:nth-child(3) {
          figure:nth-child(1) {
            background: #00a0fb;
          }
          figure:nth-child(2) {
            background: #00cafd;
          }
        }
        li:nth-child(4) {
          figure:nth-child(1) {
            background: #c387f7;
          }
          figure:nth-child(2) {
            background: #275c96;
          }
        }
      }
    }
    ._about {
      .about_Left {
        width: 780px;
        border: 1px solid #e0dfdf;
        //=========================================
        //tab卡css
        .ant-tabs {
          //最外围的框大小  总体内容的大小
          width: 778px;

          .ant-tabs-bar {
            //标题栏
            width: 778px;
            height: 40px;
            background: #f5f5f5;
            margin-bottom: 0px;
            .ant-tabs-nav-container {
              //标题栏内容
              .ant-tabs-tab-prev {
              }
              .ant-tabs-tab-next {
              }
              //这个两个是内容超出标题栏大小的时候显示的上下按钮
              .ant-tabs-tab {
                //标题栏内容
                //(注) teb 有个margin 不需要的话要设置
                //(注) teb 有个padding 不需要的话要设置
                padding: 0;
                margin: 0;
                width: 194px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: #000;
                transition: 0s;
              }
              .ant-tabs-tab-active {
                //标题选中状态
                background: #5a7aea;
                color: #fff;
                transition: 0s;
              }
              .ant-tabs-ink-bar {
                background: none;

              }
            }
          }
          .ant-tabs-content {
            width: 778px;
            height: 360px;
            //内容栏
            padding: 18px;
            .ant-tabs-tabpane {
              //内容栏里面内容
              width: 778px;
              height: 360px;

              ul {
                width: 370px;
                li {
                  width: 300px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 14px;
                  line-height: 30px;
                }
              }
              .more {
                width: 100%;
                a {
                  float: right;
                  width: 70px;
                  height: 26px;
                  background: #5a7aea;
                  color: #fff;
                  text-align: center;
                  line-height: 26px;
                  margin-right: 50px;
                }
              }
            }
          }
        }
      }
      .about_Right {
        margin-left: 20px;
        width: 300px;
        border: 1px solid #e5e5e5;

        ._rightTitle {
          line-height: 40px;
          background: #5a7aea;
          color: #fff;
          font-size: 16px;
          padding: 0 14px;
          a {
            font-size: 16px;
            color: #fff;
            float: right;
          }
        }
        ul {
          height: 360px;
          padding: 16px;
          li {
            line-height: 34px;
            font-size: 14px;
          }
        }
      }
    }
  }
}