.Index .dian {
  display: inline-block;
  border-radius: 100px;
  width: 6px;
  height: 6px;
  background: #000;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
  opacity: .8;
}
.Index .banner {
  position: relative;
  height: 500px;
  width: 100%;
}
.Index .banner .ant-carousel .slick-slide {
  height: 500px;
}
.Index .banner .slick-slide ._banner_bj {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  width: 1920px;
  height: 500px;
}
.Index .banner .ant-select {
  width: 108px;
  height: 40px;
  marginRight: 2px;
}
.Index .banner .ant-select-selection {
  width: 104px;
  height: 40px;
  border-radius: 0;
}
.Index .banner .ant-select-selection__rendered {
  line-height: 40px;
  text-indent: 15px;
  font-size: 14px;
  color: black;
}
.Index .banner .ant-select-arrow {
  color: #000;
}
.Index .banner .Index_option .ant-select-dropdown-menu-item {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}
.Index .banner .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  top: 55px;
}
.Index .banner .container a {
  margin: 0 auto;
  display: block;
}
.Index .banner .container a:nth-child(1) {
  width: 144px;
  height: 145px;
  margin-bottom: 25px;
}
.Index .banner .container a:nth-child(2) {
  margin-bottom: 60px;
  width: 500px;
  height: 79px;
}
.Index .banner .container form {
  width: 647px;
  height: 40px;
  margin: 0 auto;
}
.Index .banner .container form input[type="text"] {
  width: 308px;
  height: 40px;
  line-height: 40px;
  border: none;
  text-indent: 10px;
  vertical-align: top;
  margin-right: 12px;
}
.Index .banner .container form .search {
  width: 98px;
  height: 40px;
  background: #5a7aea;
  color: #fff;
  border: none;
  vertical-align: top;
  margin-right: 12px;
  cursor: pointer;
  text-indent: -10px;
}
.Index .banner .container form .translate:active,
.Index .banner .container form .search:active {
  background: #6a86e8;
}
.Index .banner .container form .translate {
  text-indent: -5px;
  width: 106px;
  height: 40px;
  background: #5a7aea;
  color: #fff;
  border: none;
  vertical-align: top;
  cursor: pointer;
}
.Index .Index_container .notice {
  height: 50px;
  background: #f6f6f8;
  margin-bottom: 20px;
}
.Index .Index_container .notice .container {
  height: 50px;
}
.Index .Index_container .notice .container .notice_title {
  display: inline-block;
  line-height: 50px;
  color: #3662fd;
  font-size: 14px;
  vertical-align: top;
}
.Index .Index_container .notice .container .more a {
  float: right;
  line-height: 50px;
  color: #3662fd;
  font-size: 14px;
  vertical-align: top;
}
.Index .Index_container .notice .ant-carousel {
  display: inline-block;
  width: 300px;
  height: 50px;
}
.Index .Index_container .notice .ant-carousel .slick-slide {
  text-align: center;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: #000;
}
.Index .Index_container .trends ._trendsContainer {
  width: 780px;
  height: 400px;
  border: 1px solid #e0dfdf;
  margin-bottom: 20px;
}
.Index .Index_container .trends ._trendsContainer ._trendsTittle {
  height: 38px;
  width: 100%;
  background: #f5f5f5 url("../../images/index_new_title.png") no-repeat top left;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft {
  margin: 25px;
  height: 310px;
  width: 368px;
  padding: 18px;
  border: 1px solid #e0dfdf;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft .ant-carousel {
  /* 最外围的框大小*/
  display: inline-block;
  width: 332px;
  height: 256px;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft .ant-carousel .slick-slide {
  /* 内容大小和样式*/
  text-align: center;
  width: 332px;
  height: 256px;
  line-height: 50px;
  overflow: hidden;
  color: #000;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft ._menu {
  margin-top: 4px;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft ._menu span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #e0dfdf;
  text-align: center;
  line-height: 14px;
  color: #d2d2d2;
  margin-left: 6px;
  cursor: pointer;
}
.Index .Index_container .trends ._trendsContainer ._trendsLeft ._menu span.active {
  border: 1px solid #5a7aea;
  background: #5a7aea;
  color: #fff;
}
.Index .Index_container .trends ._trendsContainer ._trendsRight {
  margin: 25px;
  width: 300px;
}
.Index .Index_container .trends ._trendsContainer ._trendsRight ._RightTitle {
  font-size: 16px;
  line-height: 26px;
}
.Index .Index_container .trends ._trendsContainer ._trendsRight ._RightTitle span {
  font-size: 14px;
  background: #5a7aea;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  height: 26px;
  margin-right: 16px;
}
.Index .Index_container .trends ._trendsContainer ._trendsRight ul {
  margin-top: 25px;
}
.Index .Index_container .trends ._trendsContainer ._trendsRight li {
  line-height: 30px;
  font-size: 14px;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Index .Index_container .trends ._trendsContainer ._trendsRight .more {
  display: inline-block;
  width: 70px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #5a7aea;
  color: #fff;
  margin-top: 50px;
}
.Index .Index_container .trends ._trendsMenu {
  margin-left: 20px;
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.Index .Index_container .trends ._trendsMenu li {
  width: 100%;
  height: 100px;
}
.Index .Index_container .trends ._trendsMenu figure {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}
.Index .Index_container .trends ._trendsMenu figure img {
  margin-top: 25px;
}
.Index .Index_container .trends ._trendsMenu figure figcaption {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(1) figure:nth-child(1) {
  background: #b973c4;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(1) figure:nth-child(2) {
  background: #90ba4d;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(2) figure:nth-child(1) {
  background: #3aabb5;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(2) figure:nth-child(2) {
  background: #e27594;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(3) figure:nth-child(1) {
  background: #00a0fb;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(3) figure:nth-child(2) {
  background: #00cafd;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(4) figure:nth-child(1) {
  background: #c387f7;
}
.Index .Index_container .trends ._trendsMenu li:nth-child(4) figure:nth-child(2) {
  background: #275c96;
}
.Index .Index_container ._about .about_Left {
  width: 780px;
  border: 1px solid #e0dfdf;
}
.Index .Index_container ._about .about_Left .ant-tabs {
  width: 778px;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-bar {
  width: 778px;
  height: 40px;
  background: #f5f5f5;
  margin-bottom: 0px;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-tab {
  padding: 0;
  margin: 0;
  width: 194px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #000;
  transition: 0s;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-tab-active {
  background: #5a7aea;
  color: #fff;
  transition: 0s;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-ink-bar {
  background: none;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-content {
  width: 778px;
  height: 360px;
  padding: 18px;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-content .ant-tabs-tabpane {
  width: 778px;
  height: 360px;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-content .ant-tabs-tabpane ul {
  width: 370px;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-content .ant-tabs-tabpane ul li {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 30px;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-content .ant-tabs-tabpane .more {
  width: 100%;
}
.Index .Index_container ._about .about_Left .ant-tabs .ant-tabs-content .ant-tabs-tabpane .more a {
  float: right;
  width: 70px;
  height: 26px;
  background: #5a7aea;
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-right: 50px;
}
.Index .Index_container ._about .about_Right {
  margin-left: 20px;
  width: 300px;
  border: 1px solid #e5e5e5;
}
.Index .Index_container ._about .about_Right ._rightTitle {
  line-height: 40px;
  background: #5a7aea;
  color: #fff;
  font-size: 16px;
  padding: 0 14px;
}
.Index .Index_container ._about .about_Right ._rightTitle a {
  font-size: 16px;
  color: #fff;
  float: right;
}
.Index .Index_container ._about .about_Right ul {
  height: 360px;
  padding: 16px;
}
.Index .Index_container ._about .about_Right ul li {
  line-height: 34px;
  font-size: 14px;
}
