.New .New_banner {
  position: relative;
  height: 500px;
  width: 100%;
}
.New .New_banner .ant-carousel .slick-slide {
  height: 500px;
}
.New .New_banner .slick-slide ._banner_bj {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  width: 1920px;
  height: 500px;
}
.New .New_banner .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  top: 108px;
}
.New .New_banner .container a {
  margin: 0 auto;
  display: block;
}
.New .New_banner .container a:nth-child(1) {
  width: 144px;
  height: 145px;
  margin-bottom: 25px;
}
.New .New_banner .container a:nth-child(2) {
  width: 500px;
  height: 79px;
}
.New ._breadcrumb {
  height: 50px;
  background: #f6f6f8;
}
.New ._breadcrumb .ant-breadcrumb {
  height: 50px;
  line-height: 50px;
}
.New ._breadcrumb .ant-breadcrumb span:nth-child(1) {
  color: #3662fd;
}
.New ._breadcrumb .ant-breadcrumb span:nth-child(1) .iconfont {
  margin-right: 5px;
}
.New ._breadcrumb .ant-breadcrumb span:nth-child(1) a:hover {
  color: #3662fd;
  transition: color .1s;
}
.New .NewMenu h3 {
  font-size: 30px;
  color: #ff6e01;
  font-style: italic;
  text-align: center;
  line-height: 80px;
}
.New .NewMenu h3 span {
  font-weight: bold;
  color: #d8d8d8;
}
.New .NewMenu ul {
  width: 280px;
  margin: 0 auto;
}
.New .NewMenu ul li {
  display: inline-block;
  width: 124px;
  height: 38px;
  margin-right: 30px;
  border: 1px solid #d8d8d8;
}
.New .NewMenu ul li span {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
  background: #e5e5e5;
  color: #c4c4c4;
  font-size: 20px;
}
.New .NewMenu ul li a {
  display: inline-block;
  height: 100%;
  width: 86px;
  vertical-align: top;
  line-height: 38px;
  text-indent: 16px;
  font-size: 14px;
}
.New .NewMenu ul li.active {
  display: inline-block;
  width: 124px;
  height: 38px;
  margin-right: 30px;
  border: 1px solid #ff6e01;
}
.New .NewMenu ul li.active span {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
  background: #ff6e01;
  color: #fff;
  font-size: 20px;
}
.New .NewMenu ul li.active a {
  display: inline-block;
  height: 100%;
  width: 86px;
  vertical-align: top;
  line-height: 38px;
  text-indent: 16px;
  font-size: 14px;
  color: #ff6e01;
}
.New .NewMenu ul li:last-child {
  margin-right: 0;
}
