.Service .Service_banner {
  position: relative;
  height: 500px;
  width: 100%;
}
.Service .Service_banner .ant-carousel .slick-slide {
  height: 500px;
}
.Service .Service_banner .slick-slide ._banner_bj {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  width: 1920px;
  height: 500px;
}
.Service .Service_banner .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  top: 108px;
}
.Service .Service_banner .container a {
  margin: 0 auto;
  display: block;
}
.Service .Service_banner .container a:nth-child(1) {
  width: 144px;
  height: 145px;
  margin-bottom: 25px;
}
.Service .Service_banner .container a:nth-child(2) {
  width: 500px;
  height: 79px;
}
.Service ._breadcrumb {
  height: 50px;
  background: #f6f6f8;
}
.Service ._breadcrumb .ant-breadcrumb {
  height: 50px;
  line-height: 50px;
}
.Service ._breadcrumb .ant-breadcrumb span:nth-child(1) {
  color: #3662fd;
}
.Service ._breadcrumb .ant-breadcrumb span:nth-child(1) .iconfont {
  margin-right: 5px;
}
.Service ._breadcrumb .ant-breadcrumb span:nth-child(1) a:hover {
  color: #3662fd;
  transition: color .1s;
}
.Service .ServiceMenu {
  margin-bottom: 60px;
}
.Service .ServiceMenu h3 {
  font-size: 30px;
  color: #ff6e01;
  font-style: italic;
  text-align: center;
  line-height: 80px;
}
.Service .ServiceMenu h3 span {
  font-weight: bold;
  color: #d8d8d8;
}
.Service .ServiceMenu ul {
  width: 1060px;
  margin: 0 auto;
}
.Service .ServiceMenu ul li {
  display: inline-block;
  width: 124px;
  height: 38px;
  margin-right: 30px;
  border: 1px solid #d8d8d8;
}
.Service .ServiceMenu ul li span {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
  background: #e5e5e5;
  color: #c4c4c4;
  font-size: 20px;
}
.Service .ServiceMenu ul li a {
  display: inline-block;
  height: 100%;
  width: 86px;
  vertical-align: top;
  line-height: 38px;
  text-indent: 16px;
  font-size: 14px;
}
.Service .ServiceMenu ul li.active {
  display: inline-block;
  width: 124px;
  height: 38px;
  margin-right: 30px;
  border: 1px solid #ff6e01;
}
.Service .ServiceMenu ul li.active span {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
  background: #ff6e01;
  color: #fff;
  font-size: 20px;
}
.Service .ServiceMenu ul li.active a {
  display: inline-block;
  height: 100%;
  width: 86px;
  vertical-align: top;
  line-height: 38px;
  text-indent: 16px;
  font-size: 14px;
  color: #ff6e01;
}
.Service .ServiceMenu ul li:last-child {
  margin-right: 0;
}
.Service ._Menu {
  margin-right: 40px;
  width: 176px;
}
.Service ._Menu li {
  width: 176px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 8px;
  border: 1px solid #e5e5e5;
}
.Service ._Menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
.Service ._ServiceZnan {
  padding: 0 16px;
}
.Service ._ServiceZnan .ZnanContainer {
  width: 850px;
}
.Service ._ServiceZnan .ZnanContainer .title {
  line-height: 46px;
  background: #f5f5f5;
  font-size: 20px;
  text-indent: 20px;
  margin-bottom: 10px;
}
.Service ._ServiceZnan .ZnanContainer .OpeningTimer p {
  font-size: 14px;
  line-height: 32px;
}
.Service ._ServiceZnan .ZnanContainer .OpeningTimer pre {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.Service ._ServiceZnan .ZnanContainer .layout p {
  font-size: 14px;
  line-height: 32px;
}
.Service ._ServiceZnan .ZnanContainer .layout img {
  width: 100%;
  margin: 10px;
}
.Service ._ServiceZnan .ZnanContainer .layout pre {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.Service ._ServiceJyue {
  padding: 0 16px 16px 0;
}
.Service ._ServiceJyue .JyueContainer {
  width: 850px;
}
.Service ._ServiceJyue .JyueContainer .title {
  line-height: 46px;
  background: #f5f5f5;
  font-size: 20px;
  text-indent: 20px;
  margin-bottom: 10px;
}
.Service ._ServiceJyue .JyueContainer p {
  font-size: 14px;
  line-height: 32px;
}
.Service ._ServiceJyue .JyueContainer img {
  vertical-align: top;
  margin: 0 10px;
}
.Service ._ServiceJyue .Cshu .Cshu_List {
  border-right: 1px solid #888;
  margin: 5px 0 ;
}
.Service ._ServiceJyue .Cshu .Cshu_List span {
  display: inline-block;
  width: 94px;
  height: 20px;
  line-height: 20px;
  border-left: 1px solid #888;
  text-align: center;
}
.Service ._ServiceJyue .Cshu .Cshu_List span a:hover {
  color: #ff6e01;
  transition: 0s;
}
.Service ._ServiceJyue .Cshu .Cshu_Container {
  margin-top: 50px;
}
.Service ._ServiceJyue .Cshu .Cshu_Container .Cshu_title {
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  height: 32px;
  margin-bottom: 20px;
}
.Service ._ServiceJyue .Cshu .Cshu_Container .Cshu_title h6 {
  background: #fff;
  display: inline-block;
  width: 126px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 0;
  border: 1px solid #dcdcdc;
  border-bottom: none;
}
.Service ._ServiceJyue .Cshu .Cshu_Container p {
  text-indent: 28px;
  line-height: 24px;
}
.Service ._ServiceJyue .Cshu .Cshu_Container button {
  display: block;
  width: 142px;
  height: 32px;
  background: #ff6e01;
  color: #fff;
  margin: 30px auto;
}
.Service ._ServicePxun {
  padding: 0 16px 16px 0;
}
.Service ._ServicePxun .PxunContainer {
  width: 850px;
}
.Service ._ServicePxun .PxunContainer .title {
  line-height: 46px;
  background: #f5f5f5;
  font-size: 20px;
  text-indent: 20px;
  margin-bottom: 10px;
}
.Service ._ServicePxun .PxunContainer ._Item {
  width: 100%;
}
.Service ._ServicePxun .PxunContainer ._Item li {
  float: left;
  width: 410px;
  height: 77px;
  margin: 0 20px 40px 0;
}
.Service ._ServicePxun .PxunContainer ._Item li .pubDate {
  cursor: pointer;
  float: left;
  width: 80px;
  height: 74px;
  border: 1px solid #d8d8d8;
  text-align: center;
  color: #666666;
  margin-right: 20px;
}
.Service ._ServicePxun .PxunContainer ._Item li .pubDate strong {
  font-size: 30px;
}
.Service ._ServicePxun .PxunContainer ._Item li .pubDate p {
  font-size: 14px;
}
.Service ._ServicePxun .PxunContainer ._Item li .pubDate:hover {
  background: #36509d;
  transition: background .3s, color 0s;
  border: 1px solid #36509d;
  color: #fff;
}
.Service ._ServicePxun .PxunContainer ._Item li .pubDate:hover strong {
  font-size: 30px;
}
.Service ._ServicePxun .PxunContainer ._Item li .pubDate:hover p {
  font-size: 14px;
}
.Service ._ServicePxun .PxunContainer ._Item li .introduce {
  float: left;
  width: 310px;
  height: 65px;
}
.Service ._ServicePxun .PxunContainer ._Item li .introduce h5 {
  font-size: 15px;
  line-height: 28px;
  color: #333;
  font-weight: bold;
}
.Service ._ServicePxun .PxunContainer ._Item li .introduce p {
  font-size: 14px;
  color: #666;
  line-height: 20px;
}
.Service ._ServicePxun .PxunContainer ._Item li .introduce p span {
  color: #ff6e01;
}
.Service ._ServicePxun .PxunContainer ._Item li:nth-child(even) {
  margin-right: 0;
}
