.Situation .Situation_banner {
  position: relative;
  height: 500px;
  width: 100%;
}
.Situation .Situation_banner .ant-carousel .slick-slide {
  height: 500px;
}
.Situation .Situation_banner .slick-slide ._banner_bj {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  width: 1920px;
  height: 500px;
}
.Situation .Situation_banner .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari and Chrome */
  top: 108px;
}
.Situation .Situation_banner .container a {
  margin: 0 auto;
  display: block;
}
.Situation .Situation_banner .container a:nth-child(1) {
  width: 144px;
  height: 145px;
  margin-bottom: 25px;
}
.Situation .Situation_banner .container a:nth-child(2) {
  width: 500px;
  height: 79px;
}
.Situation ._breadcrumb {
  height: 50px;
  background: #f6f6f8;
}
.Situation ._breadcrumb .ant-breadcrumb {
  height: 50px;
  line-height: 50px;
}
.Situation ._breadcrumb .ant-breadcrumb span:nth-child(1) {
  color: #3662fd;
}
.Situation ._breadcrumb .ant-breadcrumb span:nth-child(1) .iconfont {
  margin-right: 5px;
}
.Situation ._breadcrumb .ant-breadcrumb span:nth-child(1) a:hover {
  color: #3662fd;
  transition: color .1s;
}
.Situation .SituationMenu h3 {
  font-size: 30px;
  color: #ff6e01;
  font-style: italic;
  text-align: center;
  line-height: 80px;
}
.Situation .SituationMenu h3 span {
  font-weight: bold;
  color: #d8d8d8;
}
.Situation .SituationMenu ul {
  width: 590px;
  margin: 0 auto;
}
.Situation .SituationMenu ul li {
  display: inline-block;
  width: 124px;
  height: 38px;
  margin-right: 30px;
  border: 1px solid #d8d8d8;
}
.Situation .SituationMenu ul li span {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
  background: #e5e5e5;
  color: #c4c4c4;
  font-size: 20px;
}
.Situation .SituationMenu ul li a {
  display: inline-block;
  height: 100%;
  width: 86px;
  vertical-align: top;
  line-height: 38px;
  text-indent: 16px;
  font-size: 14px;
}
.Situation .SituationMenu ul li.active {
  display: inline-block;
  width: 124px;
  height: 38px;
  margin-right: 30px;
  border: 1px solid #ff6e01;
}
.Situation .SituationMenu ul li.active span {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
  background: #ff6e01;
  color: #fff;
  font-size: 20px;
}
.Situation .SituationMenu ul li.active a {
  display: inline-block;
  height: 100%;
  width: 86px;
  vertical-align: top;
  line-height: 38px;
  text-indent: 16px;
  font-size: 14px;
  color: #ff6e01;
}
.Situation .SituationMenu ul li:last-child {
  margin-right: 0;
}
.Situation ._intro {
  padding: 80px 26px;
}
.Situation ._intro ._introImg {
  padding: 4px;
  width: 380px;
  height: 260px;
  border: 1px solid #d8d8d8;
}
.Situation ._intro ._introImg img {
  width: 100%;
  height: 100%;
}
.Situation ._intro ._introText {
  width: 620px;
  margin-left: 30px;
}
.Situation ._intro ._introText p {
  font-size: 14px;
  text-indent: 28px;
}
.Situation ._style {
  padding: 80px 0;
}
.Situation ._style .ant-carousel .slick-arrow {
  height: 140px;
  width: 28px;
  top: 44px;
}
.Situation ._style .ant-carousel .slick-prev {
  background: #d8d8d8 url('../../images/Situation_stylePrev.png') no-repeat center;
}
.Situation ._style .ant-carousel .slick-next {
  background: #d8d8d8 url('../../images/Situation_styleNext.png') no-repeat center;
}
.Situation ._style .ant-carousel .slick-slide {
  text-align: center;
}
.Situation ._style .ant-carousel .slick-slide span {
  display: block;
  padding: 3px;
  border: 1px solid #d8d8d8;
  width: 320px;
  height: 218px;
  margin: 0 auto;
}
.Situation ._structure {
  margin-top: 50px;
}
.Situation ._structure ._structureImg {
  width: 1087px;
  height: 793px;
  margin: 0 auto;
  background: url('../../images/Situation_structure.png') no-repeat center;
}
.Situation ._structure ._structureLeader h4 {
  background: #f6f6f8;
  line-height: 52px;
  color: #ff6e01;
  font-size: 24px;
  text-indent: 22px;
}
.Situation ._structure ._structureLeader div {
  padding: 20px;
}
.Situation ._structure ._structureLeader p {
  line-height: 44px;
  font-size: 15px;
  text-indent: 14px;
}
.Situation ._structure ._structureCase h4 {
  background: #f6f6f8;
  line-height: 52px;
  color: #ff6e01;
  font-size: 24px;
  text-indent: 22px;
}
.Situation ._structure ._structureCase ._table {
  padding: 30px 30px 0 30px;
}
.Situation ._structure ._structureCase ._table table {
  border-color: #d2d2d2;
  margin-bottom: 30px;
}
.Situation ._structure ._structureCase ._table table th {
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.Situation ._structure ._structureCase ._table table th:nth-child(1) {
  width: 116px;
}
.Situation ._structure ._structureCase ._table table th:nth-child(2) {
  width: 185px;
}
.Situation ._structure ._structureCase ._table table th:nth-child(3) {
  width: 568px;
}
.Situation ._structure ._structureCase ._table table td {
  padding: 15px;
  font-size: 14px;
}
.Situation ._structure ._structureCase ._table table td:nth-child(4) {
  line-height: 27px;
}
.Situation ._structure ._structureCase ._table table td:nth-child(4) span {
  font-size: 28px;
}
.Situation ._rules {
  padding: 50px 16px;
}
.Situation ._rules strong {
  font-size: 14px;
  line-height: 26px;
}
.Situation ._rules ul {
  width: 1064px;
  margin-top: 40px;
}
.Situation ._rules ul li {
  float: left;
  width: 522px;
  margin-right: 16px;
  padding-bottom: 14px;
}
.Situation ._rules ul li .ItemTitle {
  background: #d6d6d6;
  height: 48px;
  line-height: 48px;
  margin-bottom: 14px;
}
.Situation ._rules ul li .ItemTitle h4 {
  font-size: 22px;
  display: inline-block;
  width: 330px;
  text-indent: 42px;
  color: #fff;
  background: #36509d;
}
.Situation ._rules ul li .ItemTitle span {
  float: right;
  margin-right: 16px;
}
.Situation ._rules ul li .ItemTitle span a {
  color: #a9a9a9;
}
.Situation ._rules ul li .dian {
  display: inline-block;
  /*border-radius: 100px;*/
  width: 3px;
  height: 3px;
  background: #555555;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
  opacity: .8;
}
.Situation ._rules ul li p {
  font-size: 14px;
  color: #555555;
  line-height: 30px;
  text-indent: 4px;
}
.Situation ._rules ul li:nth-child(even) {
  margin-right: 0;
}
