{
  "resourceRules":{
    "title":"图书与电子资源管理制度",
    "list":[
      {
        "title":"管际互借证使用规定",
        "id":"5"
      },
      {
        "title":"管际互借证使用规定",
        "id":"4"
      },
      {
        "title":"管际互借证使用规定",
        "id":"3"
      },
      {
        "title":"管际互借证使用规定",
        "id":"2"
      },
      {
        "title":"管际互借证使用规定",
        "id":"1"
      },
      {
        "title":"管际互借证使用规定",
        "id":"0"
      }
    ]
  },
  "equipmentRules":{
    "title":"设施与设备使用管理制度",
    "list":[
      {
        "title":"管际互借证使用规定",
        "id":"5"
      },
      {
        "title":"管际互借证使用规定",
        "id":"4"
      },
      {
        "title":"管际互借证使用规定",
        "id":"3"
      },
      {
        "title":"管际互借证使用规定",
        "id":"2"
      },
      {
        "title":"管际互借证使用规定",
        "id":"1"
      },
      {
        "title":"管际互借证使用规定",
        "id":"0"
      }
    ]
  },
  "Handlungsnormen":{
    "title":"馆员与读者行为管理规范",
    "list":[
      {
        "title":"管际互借证使用规定",
        "id":"0"
      },
      {
        "title":"管际互借证使用规定",
        "id":"0"
      },
      {
        "title":"管际互借证使用规定",
        "id":"0"
      }
    ]
  },
  "safetyRules":{
    "title":"公共安全教育与管理规定",
    "list":[
      {
        "title":"管际互借证使用规定",
        "id":"0"
      },
      {
        "title":"管际互借证使用规定",
        "id":"0"
      },
      {
        "title":"管际互借证使用规定",
      }
    ]
  }
}