.header {
  background: #293877;
  height: 36px;
  line-height: 36px;
  color: #fff;
}
.header .container {
  font-size: 14px;
}
._nav {
  height: 58px;
  background: #f6f6f6;
  font-size: 14px;
}
._nav .container {
  height: 58px;
}
._nav ._nav_item li {
  line-height: 58px;
  width: 136px;
  float: left;
  cursor: pointer;
  text-align: center;
  color: #333333;
}
._nav ._nav_item li:hover {
  background: #5a7aea;
  transition: background .3s;
}
._nav ._nav_item li a {
  display: block;
  width: 100%;
  height: 100%;
}
._nav ._nav_item li:hover a {
  color: #fff;
}
._nav ._nav_rest {
  height: 58px;
}
._nav ._nav_rest .tel {
  line-height: 58px;
}
._nav ._nav_rest .tel i {
  vertical-align: middle;
  color: #5a7aea;
  font-size: 22px;
  margin-right: 5px;
}
