.header{
  background: #293877;
  height: 36px;
  line-height: 36px;
  color: #fff;
  .container{
    font-size: 14px;
  }
}
.nav{
  height: 58px;
  background: #f6f6f6;
  font-size: 14px;

  .nav_item{
    li{
      line-height: 58px;
      width: 136px;
      float: left;
      cursor: pointer;
      text-align: center;
      color: #333333;
    }
    li:hover{
      background: #5a7aea;
      transition: background .5s;

    }
    li:hover a{
     color: #fff;
    }
  }
}